.tab {
  position: relative;
  overflow: hidden;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #888;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  padding:0;
  margin:0;
  display: table;
  overflow: hidden;
}

.tabs li {
  float: left;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.tabs a {
  background-color: #eff0f2;
  border-bottom: 1px solid #fff;
  color: #888;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 40px 0 40px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #87d3b7;
}

.tabs_item {
  display: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
.tabs_item h4 {
  font-weight: bold;
  color: #87d3b7;
  font-size: 12px;
}

.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background: #87d3b7;
}
